.v-ratingstars-wrapper {
	float: left;
	background: #fff;
	padding: 3px;
	border: 1px solid #c2c3c4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.v-ratingstars {
	float: left;
	position: relative;
	background: #fafafa;
	overflow: hidden;
	cursor: pointer;
}
.v-readonly .v-ratingstars {
	cursor: default;	
}
.v-ratingstars-bar {
	background-image: url(images/star_bg_19x18.gif);
	background-position: top left;
	background-repeat: repeat-x;
	position: absolute;				
	z-index: 0;
	border-right: 1px solid #9f9f9f;
	left: -1px;
}
.v-ratingstars-star {
	background-image: url(images/star_19x18.gif);
	background-position: top left;
	background-repeat: no-repeat;
	width: 19px;
	height: 18px;	
	float: left;	
	position: relative;				
	z-index: 1;			
}

/* large */
.v-ratingstars-wrapper-large .v-ratingstars-bar {
	background-image: url(images/star_bg_34x33.gif);
}
.v-ratingstars-wrapper-large .v-ratingstars-star {
	background-image: url(images/star_34x33.gif);
	width: 34px;
	height: 33px;
}
